.login-section,.sign-section{
    text-align: center;
    h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 25px;
        color: $mainColor;
        text-align: center;
    }

    label{
        font-size: 15px;
        font-weight: 500;
    }

    .note{
        display: block;
        font-size: 15px;
        color: $mainColor;
        margin-bottom: 15px;
    }
    button{
        font-size: 17px;
        font-weight: 500;
        padding: 10px 25px;
        @include prefixer( box-shadow, 2px 2px 7px $mainColor,  webkit moz o ms);
        &:focus{
            outline:none !important;
    
        }

    }
    hr{
        width: 50%;
        margin: 20px auto;
        @media #{$maxMobile}{
            width: 100%;
        }
    }

    p{
        font-size: 15px;
    }
}